OpenCV_Playground/x64
OpenCV_Playground/include
OpenCV_Playground/images
*.avi
OpenCV_Playground/.vs/OpenCV_Playground/v17/ipch/AutoPCH
OpenCV_Playground/.vs/OpenCV_Playground/FileContentIndex
Project_VCI_2021.docx
OpenCV_Playground/.vs/OpenCV_Playground/v17
